body {
    margin-top: 10px; 
   background: black;
    color: lightblue;
    font-family: 'Russo One'

}

.navBar {
    border-radius: 5px;
    background: black;
}

.dropdown-content {
    background: black;
    color: white;
}

.leftContent {
border-radius: 5px;
height: 90vh;
align-items: center;
justify-content: center;
}

.rightContent {
    border-radius: 5px;
    height: 90vh;
}

.rightContent > img {
    border-radius: 5px;
    height: 90vh;
}
.currentCarouselImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
input {
    color: white;
}

input[type=submit] {
    color: black;
}

.lightboardItem > img {
    width: 20%;
}

.studioItem > img {
    width: 20%;
}

.accessoryItem > img {
    width: 20%;
}
