body {
   background:black;
    color: lightblue;
    font-family: 'Russo One'

}

.navBar {
    border-radius: 5px;
    background: black;
}

.dropdown-content {
    background: black;
}

.leftContent {
border-radius: 5px;
height: 90vh;
align-items: center;
justify-content: center;
border:1px solid black;
}

.rightContent {
    border:1px solid black;
    height: 90vh;  
    text-align: center;
    transition: background-image 1.0s ease-in-out;
}

.rightContent:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
}

.currentCarouselImage {   
 display: inline-block;
 vertical-align: middle; 
 height: 80vh;
 margin-left: auto;
 margin-right: auto;
 border-radius: 5px;
}

input {
    color: white;
}

input[type=submit] {
    color: black;
}

.lightboardItem > img {
    width: 20%;
}

.studioItem > img {
    width: 20%;
}

.accessoryItem > img {
    width: 20%;
}

.faqItem {
    height: auto;
}


