body {
font-family: 'Russo One';
}

.dropdown-content {
    background: black;
}

.leftAndRightContentRow {
    position: relative;
    width: 100vw;
}

        .leftContent {
        position: absolute;
        height: 100vh;
        width: 70vw;
        color: black;

        }

        .leftContentFolder {
            font-size: 36px;
            color: black;
            position: relative;
            left: 5vw !important;
            top: 10vw !important;
        }

        .leftContentHeader {
            margin-top: 10px;
            color: black;             
        }
        
        .leftContentItem {
            font-size: 20px;
            color: grey;
        }


.rightContent {
    position: absolute;
    width: 30vw;
    right: 0px;
    height: 100vh;
    background: black;
}

.currentCarouselImage {   
    position: absolute;
    
    height: 75vh;
    right: 0px;
    top: 12.5vh;
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px;   
    box-shadow: 0px 0px 5px 5px black;
}

input {
    color: white;
}

input[type=submit] {
    color: black;
}

.lightboardItem > img {
    width: 20%;
}

.studioItem > img {
    width: 20%;
}

.accessoryItem > img {
    width: 20%;
}

.faqItem {
    height: auto;
}

.navBar {
    width: 100vw;
    height: 70px;
    position: absolute;
    top: 0px;
    background: white;
    z-index: 1;
}

.navBarLeft {
    width: 70vw;
    height: 70px;
    color: black;
    position: absolute;
    top: 0px;

}

.navBarRight {
    width: 30vw;
    height: 70px; 
    position: absolute;
    top: 0px;
    right: 0px;
    background: black;
}


.navBarlogo {
    margin-left: 20px;
    
}

.navText {
    font-size: 20px;
    color:white;
    margin-top: 10px;
    text-align: center;  
}


            .leftShowContent {
                background: white;
                width: 50vw;
                margin-top: 70px;
                border: 1px solid black;
                
            }

            .rightShowContent {
                width: 50vw;
                margin-top: 70px;
                border: 1px solid black;
            }

            .showContent {
                margin-top: 70px;
                text-align: center;
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;
            }

            .showImage {
                height: 300px;
            }
            
            .card {
                width: 500px;
                margin: 20px;
                border: 3px solid black;
                border-radius: 5px;
            }

            .card:hover {
                transform: scale(1.1);
            }

            .card-title {
                color: black !important;
                font-size: 30px !important;
               -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: white;
            }